body {
    padding: 20px;
    background-color: #F7ee7f;
}

#gridContainer {
    padding-bottom: 10px;
    display:inline-block;
}

table {
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #222;
    width: 8px;
    height: 8px;
}

span {
    color: #222;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #92aa83;
}

.controls {
    float: right;
}

#gamereport {
    margin-top: 10px;
    color:#35281d;
}

#stillsreport {
    margin-top: 10px;
    color:#35281d;
}

